.lk-container {
    padding: 20px;
    font-family: var(--font_default) sans-serif;
    color: var(--color_text_default);
}

.user-info p {
    margin: 4px 0;
}

.instructions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 10px;

}

.instruction-wrapper {
    background-color: var(--color_background_default);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.instruction-wrapper:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.instruction-card {
    min-width: 200px;
}

.instruction-card:hover {

}

.instruction-card h3 {
    margin: 0;
    font-size: 1.2em;
}

.instruction-card p {
    margin: 4px 0;
    font-size: 0.95em;
}

.status {
    display: block;         /* занимает всю строку */
    text-align: right;      /* содержимое прижимается вправо */
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.85em;
    width: fit-content;     /* чтобы плашка не растягивалась на всю ширину */
    margin-left: auto;
}

.status.valid {
    background-color: #d4edda;
    color: #155724;
}

.status.invalid {
    background-color: #f8d7da;
    color: #721c24;
}

.last-read {
    font-size: 0.8em;
    color: #aaa;
}

.instruction-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.logout-icon {
    font-size: 22px;
    cursor: pointer;
    color: var(--color_primary_default);
    transition: color 0.3s ease;
}

.logout-icon:hover {
    transform: scale(1.1);
}
