.overlay {
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* прижимаем модалку к низу */
  z-index: 9998;
}

.modal {
  background: #fff;
  width: 97%;
  height: 90vh; /* Модалка занимает почти весь экран */
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal__body {
  flex: 1; /* Растягивается на всё доступное пространство */
  display: flex;
  min-height: 0; /* Очень важно, чтобы flex-child мог сжиматься */
}

.modal__body iframe {
  flex: 1; /* iframe занимает всю высоту родителя */
  width: 100%;
  border: none;
}

.modal__actions {
  padding-top: 10px;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  z-index: 9999;
}
