/* Затемненный фон */
.overlay {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end; /* прижимаем модалку к низу */
    z-index: 9998;
}

/* Модалка */
.modal {
    background: #fff;
    width: 97%;
    height: 80vh; /* уменьшили высоту */
    padding: 10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10; /* на всякий случай */
    transform: translateY(100%);
    animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Контейнер для PDF */
.modal__body {
    flex: 1;
    min-height: 0;
    overflow: auto; /* чтобы скролл работал */
    -webkit-overflow-scrolling: touch; /* плавный скролл на iOS */
    position: relative;
}


.modal__body iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* Кнопка внизу */
.modal__actions {
    flex-shrink: 0;
    padding-top: 10px;
}

.actionBtn {
    width: 100%;
    padding: 14px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.actionBtn:hover {
    background-color: #125aa2;
}

/* Крестик */
.closeBtn {
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 20; /* крестик поверх iframe */
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}
